# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore Python cache files
*.pyc
_pycache_/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore log files
*.log